form.ajax-auth{
    display: none;
    z-index: 999;
    min-width: 300px;
    height: auto !important;
    /* max-width: 350px !important; */
    /* padding: 40px 25px 25px 25px; */
    background-color: #FFFFFF;
    border-radius: 8px;
    font-family: inherit;
    /* box-shadow: 0 0 6px rgb(0 0 0 / 20%); */
    color: #878787;
    margin: 0 20px;
    position: relative;
    font-size: 11px;
}

.login-icon {
	color: #b5622f;
    background: rgba(181, 98, 47, 0.06);
    border: 2px solid #b5622f;
    padding: 25px;
    border-radius: 50%;
	font-size: 1.3rem;
	margin-bottom: 30px;
}

.lw-sticky form.ajax-auth{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;


}
#lwp_country_codes{
    float: left;
}
.ajax-auth h1, .ajax-auth h3{

    font-weight: 100;
    color: #333333;
    line-height: 1;
}

.ajax-auth .lh1{
    font-size: 27px;
    text-align: center;
    margin: 30px 0 20px 0;
    font-family: inherit;

}

.ajax-auth h3{
    font-size: 18px;
    text-align: left;
    margin: 0;
}

.ajax-auth h3 a{
    color: #e25c4c;
}

.ajax-auth hr {
    background-color: rgba(0, 0, 0, 0.1);
    border: 0 none;
    height: 1px;
    margin: 20px 0;
}

.ajax-auth input#username,
.ajax-auth input#password,
.ajax-auth input#signonname,
.ajax-auth input#email,
.ajax-auth input#signonpassword,
.ajax-auth input#password2{
    border: 1px solid #EDEDED;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
    color: #333333;
    font-size: 15px;
    padding: 10px 10px 10px 13px;
    width: 325px;
    margin: 7px 0 20px 0;
    background-color: #F9F9F9;
    font-family: inherit;
}

.ajax-auth input#username:focus,
.ajax-auth input#password:focus,
.ajax-auth input#signonname:focus,
.ajax-auth input#email:focus,
.ajax-auth input#signonpassword:focus,
.ajax-auth input#password2:focus{
    background-color: #FFF;
}

.ajax-auth label.error{
    display: none !important;
}

.ajax-auth input.error{
    border: 1px solid #FF0000 !important;
}

.ajax-auth input.submit_button{
    font-size: 13px;
    color: #FFF;
    border: 1px solid #b34336;
    background-color: #e25c4c;
    border-radius: 3px;
    text-shadow: 0 1px 0 #ba3f31;
    padding: 9px 31px 9px 31px;
    background: -moz-linear-gradient(top, #ea6656, #df5949);
    border-top: 1px solid #bb483a;
    border-bottom: 1px solid #a63b2e;
    float: right;
    box-shadow: 0 1px 0 #E87A6E inset;
}

.ajax-auth a{
    text-decoration: none;
}

.ajax-auth a.close{
    display: none;
    color: #e96262;
    font-size: 23px;
    position: absolute;
    right: 25px;
    top: 15px;
}
.lw-sticky .ajax-auth a.close{
    display: block;
}
.ajax-auth a.text-link{
    color: #B4B2B2;
    float: left;
    margin: 10px 0 0 0;
}
.ajax-auth input{
    color: #000;
}
.ajax-auth input,.ajax-auth label,.ajax-auth button{
	border-radius: 5px !important;
    font-size: 15px;
    width: 100%;
    font-family: inherit;
    display: block;
    box-sizing: border-box;
}
.lwp_email{
    direction: ltr;
}
input.lwp_username::-webkit-outer-spin-button,
input.lwp_username::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input.lwp_username{
    -moz-appearance:textfield;
}
.rtl .lwp_email::placeholder{
    direction: rtl;
}
#lwp_country_codes{
    display: block;
    float: left;
    margin-right: 10px;
    padding: 2px 0;
    border: 1px solid #757575;
    background-image: none;
    direction: ltr;
    height: 30px;
    min-width: 70px;
    box-sizing: border-box;
}
.required.lwp_email{
    border-width: 1px ;
    border-style: solid;
    border-color: #757575;
    margin-left: 0;
    margin-right: 0;
    padding: 5px;

}
#lwp_country_codes:focus,
.required.lwp_email:focus{
    outline: none;
}
/*.lwp_country_codes_span{*/
    /*line-height: 23px;*/
    /*float: left;*/
    /*display: block;*/
    /*background-color: #f6f6f6;*/
    /*height: 30px;*/
    /*padding: 2px 10px;*/
    /*width: 45px;*/
    /*font-size: 15px;*/
    /*border: 1px solid #757575;*/
    /*margin-right: 4px;*/
    /*font-weight: bold;*/
    /*border-radius: 3px;*/
    /*color: #000;*/
    /*box-sizing: border-box;*/
/*}*/
.lwp_country_codes_wrap{
    width: 80px;
    float: left;
    box-sizing: border-box;
    direction: ltr;
}
.rtl #lwp_login.ajax-auth input.lwp_username::placeholder{
    text-align: left;
}
#lwp_login.ajax-auth input.lwp_username{
    /* width: calc(100% - 80px); */
	background-color: #fcfcfc;
    max-width: 100%;
    /* height: 30px; */
    box-sizing: border-box;
    border: 1px solid #eeeeee;
    text-align: right;
	padding: 10px;
	padding-right: 35px;
	font-size: 0.9rem;
}

#lwp_login.ajax-auth input.lwp_username::placeholder{
	text-align: right !important;
}

.lwp_phone_icon {
	position: relative;
    top: -30px;
    right: 15px;
    font-size: 1.1rem;
}

.lwp_top_activation{
    text-align: center;
}
#lwp_login.ajax-auth input.lwp_username:focus{
    outline: 0;
}
.ajax-auth p.status{
    text-align: center;
    margin: -15px 0 20px 0;
    font-weight: 600;
    display: none;
}

.lwp_scode {
    background-color: #fcfcfc;
    max-width: 100%;
    box-sizing: border-box !important;
    border: 1px solid #eeeeee !important;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    text-align: right;
    padding: 10px !important;
    padding-right: 35px !important;
    font-size: 0.9rem !important;
}

.submit_button{
    width: 100%;
    background-color: #2f8056;
    border: 1px solid #2f8056;
    border-radius: 5px;
    padding: 8px;
    display: block;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}
.lwp_bottom_activation{
    /* text-align: right;
    margin-top: 10px; */
}
.rtl .lwp_bottom_activation{
    /* text-align: left; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}
a.login_button{
    font-family: inherit;
    padding: 5px 7px 5px 7px;
    background-color: #FFF;
    border-radius: 3px;
    border: 1px solid #DCDCDC;
    color: #333;
    text-decoration: none;
    font-size: 11px;
}
.ajax-auth .lwp_line{
    width: 90%;
    display: block;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    margin:auto;
    background-color: #e6e6e6;
    height: 1px;
    max-width: 100%;
    border: 1px solid;
}
.accept_terms_and_conditions_text{

}
.ajax-auth .lwp_check_box{
    width: auto;
    display: inline-block;
}
.lwp-form-box-bottom{
    clear: both;
    display: inline-block;
    width: 100%;
}
.accept_terms_and_conditions{
    clear: both;
    margin-top: 10px;
    margin-bottom: 5px;
}

.lwp_login_overlay{
    height: 100%;
    width: 100%;
    background-color: #F6F6F6;
    opacity: 0.9;
    position: fixed;
    z-index: 998;
    /*z-index: 9998;*/
    top: 0;
    left: 0;
}
.lwp_none{
    display: none !important;
}
.submit_button.lwp_disable{
    border: 1px solid #999999 !important;
    background-color: #cccccc !important;
    /* color: #666666 !important; */
    cursor: not-allowed;
    pointer-events:none;
}