.col-lg-2, .col-sm-6, .col-md-4 {
    width: 20%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
.rtl .col-lg-2, .rtl .col-sm-6, .rtl .col-md-4 {
    float: right;
}
.col-sm-6 {
    width: 50%;
}

.col-md-4 {
    width: 33.3333%;
}

.col-lg-2 {
    width: 20%;
}

.lwp-produ-wrap {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.creditor {
    margin-top: 20px;
    background-color: #407e12;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    overflow: hidden;
}
.lwp_modal_body{
    clear: both;
}
.lwp_close{

    float: right;
    display: block;
    margin-bottom: 10px;
    clear: both;
    color: #f00;
    font-size: 25px;
    border: 0;
    padding: 0;
    background-color: #fff;
    cursor: pointer;

}
.lwp_modal{
    position: fixed;
    background-color: #fff;
    z-index: 999;
    max-width: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-sizing: border-box;
}
.lwp_modal_body ul li {
    margin: 0 10px;
    line-height: 25px;
    font-size: 13px;
}
.lwp_modal_overlay{
    position: fixed;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
}
.lwp_button{
    display: block;
    text-align: center;
    background-color: #428446;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    border: 0;
    box-shadow: none;
    width: 100%;
    cursor: pointer;
}
.creditor .df{
    margin-right: 10px;
    float: right;
}
.rtl .creditor .df{
    float: left;
}
.creditor .df a{
    color: #000;
}

.rtl .creditor .df{
    margin-left: 10px;
}
.button-primary.refreshShop{
    float: right;
}
.rtl .button-primary.refreshShop{
    float: left;
}
.lwp-shop-buy a {
    background-color: #5c9d2b;
    padding: 10px;
    display: block;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
#lwp_phone_number,#lwp_secod{
    direction: ltr;
    text-align: left;
}
.lwp-shop-price {
    font-size: 18px;
}
.alwaysDisplayNone{
    display: none;
}
.lwp-shop-title {
    padding: 30px 0;
    color: #000;
    font-size: 22px;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 15px;
}
.none{
    display: none !important;
}
 .ilwplabel th{
    padding-left: 10px;
}
 .idehweb_phone_number_ccode_wrap,
 .idehweb_website_url_wrap{
     display: inline;
 }
.rtl .ilwplabel th{
    padding-right: 10px;
}
#iuytfrdghj{
    position: relative;
}
.chargeAccount {
    overflow: hidden;
    width: 100%;
}
.lwploadr{
    position: absolute;
    left:0;
    width:100%;
    top:0;
    height: 100%;
    background-color: rgba(255, 255, 255,.9);
    z-index: 99999;
}
.ilwplabel{
    background-color: #fff;
}
.toplevel_page_idehweb-lwp .select2-container--default .select2-search--dropdown .select2-search__field {

    min-width: 100%;
}


.lwpmainloader {
    color: #000000;
    font-size: 20px;
    margin: 100px auto;
    width: 1em;
    height: 1em;

    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.lwpmaintextloader{
    width: 100%;
    display: block;
    margin: auto;
    font-size: 30px;

    text-align: center;
}
.lwp-wrap-left{
    width: 70%;
	margin: auto;
}
.lwp-wrap-right{
    width:300px;
    margin-top: 50px;
    float: right;
}
.idehweb_lwp_mgt100{
    margin-top: 50px;
    clear: both;
    display: block;
    width: 100%;
    background-color: #f0f0f1;
}
@-webkit-keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}
@keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}



@media screen and (max-width: 1080px) {
    .col-lg-2 {
        width: 33.3333%;
    }

}
@media screen and (max-width: 720px) {
    .lwp-wrap-left,.lwp-wrap-right{
        float: none;
        width: 100%;
    }
    .lwp-wrap-right{
        margin-top: 0px;
    }
    .col-lg-2 {
        width: 50%;
    }
#wp-admin-bar-lwpcreditbar{
    display: block !important;
}
    .lwp_modal {

        min-width: 90%;
    }
}